@model MvcApplication1.Models.GameModels
@{
    ViewBag.Title = "注册游戏";
}

<h2>注册游戏</h2>
@Html.ActionLink("新建", "Create")
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
<fieldset>
    <legend>基本信息</legend>
    <ol>
        <li>@Html.LabelFor(m=>m.Tel)
            @Html.TextBoxFor(m=>m.Tel)
            @Html.ValidationMessageFor(m=>m.Tel)
        </li>
            <li>@Html.LabelFor(m=>m.Name)
            @Html.TextBoxFor(m=>m.Name)
            @Html.ValidationMessageFor(m=>m.Name)
        </li>
            <li>@Html.LabelFor(m=>m.Desc)
            @Html.TextBoxFor(m=>m.Desc)
            @Html.ValidationMessageFor(m=>m.Desc)
        </li>
    </ol>
       <input type="submit" value="注册" />
</fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
